@import './fonts/inter.css';
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  /*padding: 132px 0 0 0;*/
  padding: 0;
  background-color: #131313;
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-position: top center;

  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  color: #ffffff;
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a {
  color: inherit;
}